*.vs
*Debug

/Class_Work/01.Intro/.vs
/Class_Work/01.Intro/01.Intro/bin/Debug
/Class_Work/01.Intro/01.Intro/obj/Debug
/Class_Work/02. Array/.vs
/Class_Work/02. Array/02. Array/bin/Debug
/Class_Work/02. Array/02. Array/obj/Debug
/Class_Work/03. Array. Part 2/.vs
/Class_Work/03. Array. Part 2/03. Array. Part 2/bin/Debug
/Class_Work/03. Array. Part 2/03. Array. Part 2/obj/Debug
/Class_Work/04. String/.vs
/Class_Work/04. String/04. String/bin/Debug
/Class_Work/04. String/04. String/obj/Debug
/Class_Work/05. Intro class/.vs
/Class_Work/05. Intro class/05. Intro class/bin/Debug
/Class_Work/05. Intro class/05. Intro class/obj/Debug
/Class_Work/06. Task-tank/.vs
/Class_Work/06. Task-tank/06. Task-tank/bin/Debug
/Class_Work/06. Task-tank/06. Task-tank/obj/Debug
/Class_Work/07. Out, static class/.vs
/Class_Work/07. Out, static class/07. Out, static class/bin/Debug
/Class_Work/07. Out, static class/07. Out, static class/obj/Debug
/Class_Work/09. Exceptions/.vs
/Class_Work/09. Exceptions/09. Exceptions/bin/Debug
/Class_Work/09. Exceptions/09. Exceptions/obj/Debug
/Class_Work/10. Partial class/.vs
/Class_Work/10. Partial class/10. Partial class/bin/Debug
/Class_Work/10. Partial class/10. Partial class/obj/Debug
/Class_Work/11. ClassWork. Tasks/.vs
/Class_Work/11. ClassWork. Tasks/11. ClassWork. Tasks/bin/Debug
/Class_Work/11. ClassWork. Tasks/11. ClassWork. Tasks/obj/Debug
/Class_Work/12. Delegates/.vs
/Class_Work/12. Delegates/12. Delegates/bin/Debug
/Class_Work/12. Delegates/12. Delegates/obj/Debug
/Class_Work/13. Is, us/.vs
/Class_Work/13. Is, us/13. Is, us/bin/Debug
/Class_Work/13. Is, us/13. Is, us/obj/Debug
/Class_Work/14. Index/.vs
/Class_Work/14. Index/14. Index/Debug
/Class_Work/14. Index/14. Index/Debug
/Class_Work/15. Generic. Collections/.vs
/Class_Work/15. Generic. Collections/15. Generic. Collections/Debug
/Class_Work/15. Generic. Collections/15. Generic. Collections/Debug
/Class_Work/16. Classwork. Tasks/.vs
/Class_Work/16. Classwork. Tasks/16. Classwork. Tasks/Debug
/Class_Work/16. Classwork. Tasks/16. Classwork. Tasks/Debug
/Class_Work/17. File stream/.vs
/Class_Work/17. File stream/17. File stream/Debug
/Class_Work/17. File stream/17. File stream/Debug
/Class_Work/18. XML/.vs
/Class_Work/18. XML/18. XML/Debug
/Class_Work/18. XML/18. XML/Debug
/Class_Work/19. XML. Part 2/.vs
/Class_Work/19. XML. Part 2/19. XML. Part 2/Debug
/Class_Work/19. XML. Part 2/19. XML. Part 2/Debug

========================================================================
/Home_Work/.vs
/Home_Work/01. home_work (01.03.20)/.vs
/Home_Work/01. home_work (01.03.20)/01. home_work (01.03.20)/bin/Debug
/Home_Work/01. home_work (01.03.20)/01. home_work (01.03.20)/obj/Debug
/Home_Work/02.home_work(03.05.20)/.vs
/Home_Work/02.home_work(03.05.20)/02.home_work(03.05.20)/bin/Debug
/Home_Work/02.home_work(03.05.20)/02.home_work(03.05.20)/obj/Debug
/Home_Work/03.home_work(03.10.20)/.vs
/Home_Work/03.home_work(03.10.20)/03.home_work(03.10.20)/bin/Debug
/Home_Work/03.home_work(03.10.20)/03.home_work(03.10.20)/obj/Debug
/Home_Work/04.home_work(03.19.20)/.vs
/Home_Work/04.home_work(03.19.20)/04.home_work(03.19.20)/bin/Debug
/Home_Work/04.home_work(03.19.20)/04.home_work(03.19.20)/obj/Debug

========================================================================
/Windows_Form/Class_work/WF_01/.vs
/Windows_Form/Class_work/WF_01/WF_01/bin/Debug
/Windows_Form/Class_work/WF_01/WF_01/obj/Debug
/Windows_Form/Class_work/WF_01/WF_02/bin/Debug
/Windows_Form/Class_work/WF_01/WF_02/obj/Debug
/Windows_Form/Class_work/WF_01/WF_03/bin/Debug
/Windows_Form/Class_work/WF_01/WF_03/obj/Debug
/Windows_Form/Class_work/WF_02/.vs
/Windows_Form/Class_work/WF_02/WF_02/bin/Debug
/Windows_Form/Class_work/WF_02/WF_02/obj/Debug
/Windows_Form/Class_work/WF_03/.vs
/Windows_Form/Class_work/WF_03/packages
/Windows_Form/Class_work/WF_03/WF_03/bin/Debug
/Windows_Form/Class_work/WF_03/WF_03/obj/Debug
/Windows_Form/Class_work/WF_04/.vs
/Windows_Form/Class_work/WF_04/WF_04/bin/Debug
/Windows_Form/Class_work/WF_04/WF_04/obj/Debug
/Windows_Form/Class_work/WF_05/.vs
/Windows_Form/Class_work/WF_05/WF_05/bin/Debug
/Windows_Form/Class_work/WF_05/WF_05/obj/Debug
/Windows_Form/Class_work/WF_05_calc/WF_05_calc/bin/Debug
/Windows_Form/Class_work/WF_05_calc/WF_05_calc/obj/Debug
/Windows_Form/Class_work/WF_06/.vs
/Windows_Form/Class_work/WF_06/WF_06/bin/Debug
/Windows_Form/Class_work/WF_06/WF_06/obj/Debug
/Windows_Form/Class_work/WF_07/.vs
/Windows_Form/Class_work/WF_07/WF_07/bin/Debug
/Windows_Form/Class_work/WF_07/WF_07/obj/Debug
/Windows_Form/Class_work/WF_08/.vs
/Windows_Form/Class_work/WF_08/WF_08/bin/Debug
/Windows_Form/Class_work/WF_08/WF_08/obj/Debug
/Windows_Form/Class_work/WF_09/.vs
/Windows_Form/Class_work/WF_09/WF_09/bin/Debug
/Windows_Form/Class_work/WF_09/WF_09/obj/Debug
/Windows_Form/Class_work/WF_10/.vs
/Windows_Form/Class_work/WF_10/WF_10/bin/Debug
/Windows_Form/Class_work/WF_10/WF_10/obj/Debug
/Windows_Form/Class_work/WF_11/.vs
/Windows_Form/Class_work/WF_11/WF_11/bin/Debug
/Windows_Form/Class_work/WF_11/WF_11/obj/Debug
/Windows_Form/Class_work/WF_12/.vs
/Windows_Form/Class_work/WF_12/WF_12/bin/Debug
/Windows_Form/Class_work/WF_12/WF_12/obj/Debug
/Windows_Form/Class_work/WF_13/.vs
/Windows_Form/Class_work/WF_13/WF_13/bin/Debug
/Windows_Form/Class_work/WF_13/WF_13/obj/Debug
/Windows_Form/Class_work/WF_14/.vs
/Windows_Form/Class_work/WF_14/WF_14/bin/Debug
/Windows_Form/Class_work/WF_14/WF_14/obj/Debug
/Windows_Form/Class_work/WF_15/.vs
/Windows_Form/Class_work/WF_15/WF_15/bin/Debug
/Windows_Form/Class_work/WF_15/WF_15/obj/Debug
/Windows_Form/Class_work/WF_16/.vs
/Windows_Form/Class_work/WF_16/WF_16/bin/Debug
/Windows_Form/Class_work/WF_16/WF_16/obj/Debug
/Windows_Form/Class_work/WF_Coursework/.vs
/Windows_Form/Class_work/WF_Coursework/WF_Coursework/bin/Debug
/Windows_Form/Class_work/WF_Coursework/WF_Coursework/obj/Debug
========================================================================
/Windows_Form/Home_work/WF_home/WF_home/.vs
/Windows_Form/Home_work/WF_home/WF_home/bin/Debug
/Windows_Form/Home_work/WF_home/WF_home/obj/Debug
/Windows_Form/Home_work/WF_home/Quiz_homework/bin/Debug
/Windows_Form/Home_work/WF_home/Quiz_homework/obj/Debug
========================================================================

/WPF/.vs
/WPF/WPF_01/bin/Debug
/WPF/WPF_01/obj/Debug
/WPF/WPF_02/bin/Debug
/WPF/WPF_02/obj/Debug
/WPF/WPF_03/bin/Debug
/WPF/WPF_03/obj/Debug
/WPF/WPF_04/bin/Debug
/WPF/WPF_04/obj/Debug
/WPF/WPF_05/bin/Debug
/WPF/WPF_05/obj/Debug
/WPF/WPF_06/bin/Debug
/WPF/WPF_06/obj/Debug
/WPF/WPF_07_KeyboardTrainer/.vs
/WPF/WPF_07_KeyboardTrainer/KeyboardTrainer/bin/Debug
/WPF/WPF_07_KeyboardTrainer/KeyboardTrainer/obj/Debug
/WPF/WPF_07_MVVM/bin/Debug
/WPF/WPF_07_MVVM/obj/Debug
/WPF/WPF_08_ContactList/bin/Debug
/WPF/WPF_08_ContactList/obj/Debug
/WPF/WPF_09.1_ControlTemplate/bin/Debug
/WPF/WPF_09.1_ControlTemplate/obj/Debug
/WPF/WPF_09.2_RegisterForm/bin/Debug
/WPF/WPF_09.2_RegisterForm/obj/Debug
/WPF/WPF_09_RegisterForm/bin/Debug
/WPF/WPF_09_RegisterForm/obj/Debug
/WPF/WPF_10_Exam/bin/Debug
/WPF/WPF_10_Exam/obj/Debug

========================================================================

/ADO/ado_01/.vs
/ADO/ado_01/ado_01/bin/Debug
/ADO/ado_01/ado_01/obj/Debug
/ADO/ado_01_Async/.vs
/ADO/ado_01_Async/ado_01_Async/bin/Debug
/ADO/ado_01_Async/ado_01_Async/obj/Debug
/ADO/ado_02/.vs
/ADO/ado_02/ado_02/bin/Debug
/ADO/ado_02/ado_02/obj/Debug
/ADO/ado_03_AsyncDelegate/.vs
/ADO/ado_03_AsyncDelegate/ado_03_AsyncDelegate/bin/Debug
/ADO/ado_03_AsyncDelegate/ado_03_AsyncDelegate/obj/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/.vs
/ADO/ado_04_DataTable_DataSet_DataAdapter/ado_04_DataTable_DataSet_DataAdapter/bin/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/ado_04_DataTable_DataSet_DataAdapter/obj/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/DataAdapter/bin/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/DataAdapter/obj/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/DatatableFromDB/bin/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/DatatableFromDB/obj/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/WindowsForms_ImageInSql/bin/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/WindowsForms_ImageInSql/obj/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/WindowsFormsApp/bin/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/WindowsFormsApp/obj/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/WindowsFormsDataAdapter/bin/Debug
/ADO/ado_04_DataTable_DataSet_DataAdapter/WindowsFormsDataAdapter/obj/Debug
/ADO/ado_05_Linq/.vs
/ADO/ado_05_Linq/ado_05_Linq/bin/Debug
/ADO/ado_05_Linq/ado_05_Linq/obj/Debug
/ADO/ado_05_Linq/LinqToSQL/bin/Debug
/ADO/ado_05_Linq/LinqToSQL/obj/Debug
/ADO/ado_06_EF/.vs
/ADO/ado_06_EF/ado_06_EF/bin/Debug
/ADO/ado_06_EF/ado_06_EF/obj/Debug
/ADO/ado_06_EF/packages
/ADO/ado_06_EF/CodeFirst/bin/Debug
/ADO/ado_06_EF/CodeFirst/obj/Debug
/ADO/ado_06_EF/CodeFirst_Shop/bin/Debug
/ADO/ado_06_EF/CodeFirst_Shop/obj/Debug
/ADO/ado_06_EF/EF_CodeFirst_WPF_Shop/bin/Debug
/ADO/ado_06_EF/EF_CodeFirst_WPF_Shop/obj/Debug
/ADO/ado_06_EF/Initialaizer/bin/Debug
/ADO/ado_06_EF/Initialaizer/obj/Debug
/ADO/ado_06_EF/ModelFirst/bin/Debug
/ADO/ado_06_EF/ModelFirst/obj/Debug
/ADO/ado_06_EF/ModelFirst_Shop/bin/Debug
/ADO/ado_06_EF/ModelFirst_Shop/obj/Debug












