*.vs
*Debug

/Class_Work/01.Intro/.vs
/Class_Work/01.Intro/01.Intro/bin/Debug
/Class_Work/01.Intro/01.Intro/obj/Debug
/Class_Work/02. Array/.vs
/Class_Work/02. Array/02. Array/bin/Debug
/Class_Work/02. Array/02. Array/obj/Debug
/Class_Work/03. Array. Part 2/.vs
/Class_Work/03. Array. Part 2/03. Array. Part 2/bin/Debug
/Class_Work/03. Array. Part 2/03. Array. Part 2/obj/Debug
/Class_Work/04. String/.vs
/Class_Work/04. String/04. String/bin/Debug
/Class_Work/04. String/04. String/obj/Debug
/Class_Work/05. Intro class/.vs
/Class_Work/05. Intro class/05. Intro class/bin/Debug
/Class_Work/05. Intro class/05. Intro class/obj/Debug
/Class_Work/06. Task-tank/.vs
/Class_Work/06. Task-tank/06. Task-tank/bin/Debug
/Class_Work/06. Task-tank/06. Task-tank/obj/Debug
/Class_Work/07. Out, static class/.vs
/Class_Work/07. Out, static class/07. Out, static class/bin/Debug
/Class_Work/07. Out, static class/07. Out, static class/obj/Debug

/Class_Work/09. Exceptions/.vs
/Class_Work/09. Exceptions/09. Exceptions/bin/Debug
/Class_Work/09. Exceptions/09. Exceptions/obj/Debug


========================================================================
/Home_Work/.vs
/Home_Work/01. home_work (01.03.20)/.vs
/Home_Work/01. home_work (01.03.20)/01. home_work (01.03.20)/bin/Debug
/Home_Work/01. home_work (01.03.20)/01. home_work (01.03.20)/obj/Debug
/Home_Work/02.home_work(03.05.20)/.vs
/Home_Work/02.home_work(03.05.20)/02.home_work(03.05.20)/bin/Debug
/Home_Work/02.home_work(03.05.20)/02.home_work(03.05.20)/obj/Debug
