*.vs
*Debug

/Class_Work/01.Intro/.vs
/Class_Work/01.Intro/01.Intro/bin/Debug
/Class_Work/01.Intro/01.Intro/obj/Debug
/Class_Work/02. Array/.vs
/Class_Work/02. Array/02. Array/bin/Debug
/Class_Work/02. Array/02. Array/obj/Debug

/Class_Work/03. Array. Part 2/.vs
/Class_Work/03. Array. Part 2/03. Array. Part 2/bin/Debug
/Class_Work/03. Array. Part 2/03. Array. Part 2/obj/Debug
