<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        
      <add name="def1" connectionString="Data Source=194.44.93.225;Initial Catalog=University;User ID=koziar;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        
      <add name="default" connectionString="Data Source=194.44.93.225; Integrated Security=false; User Id=test;Password=1;Initial Catalog=BooksDB;" />
        
      <add name="def2"
            connectionString="Data Source=194.44.93.225;Initial Catalog=University;User Id=test;Password=1;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />       
     
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>