<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
      <add name="default" connectionString="Data Source=194.44.93.225; Integrated Security=false; User Id=test;Password=1;Initial Catalog=BooksDB;" />
      <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Linq_DZ.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
          providerName="System.Data.SqlClient" />
      <add name="BooksDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=194.44.93.225;initial catalog=BooksDB;user id=test;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="Linq_DZ.Properties.Settings.BooksDBConnectionString"
          connectionString="Data Source=194.44.93.225;Initial Catalog=BooksDB;User ID=test;Password=1"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>